@model IEnumerable<Project_Kerekes_Denisa_SADE.Models.ShopViewModels.OrderGroup>
@{
    ViewData["Title"] = "Ordered Chocolates Statistics";
}
<h2>Ordered Chocolates Statistics</h2>
<table class="table">
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Chocolates
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.ChocolateCount
            </td>
        </tr>
    }
</table>